.fonte-titulo {
    font-family: 'Satisfy', sans-serif;
}

.fonte-titulo-2 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.a-style {
    font-family: 'Dancing Script', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.m-top {
    margin-top: 5rem;
}

.img-size {
    height: 225px;
    width: 100%;
    display: block;
    object-fit: cover;
}

.img-sizeesp {
    height: 225px;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 0 100%;
}

footer {
    background: #fefefe;
}

.linkdis {
    text-decoration: none !important;
    color: #EB5CE1;
}

.btn-card {
    color: #EB5CE1;
    border-color: #EB5CE1;
}

.btn-card:hover {
    color: #fefefe;
    background: #EB5CE1;
}

.linkdis:hover {
    color: #fefefe;
    background: #EB5CE1;
}

.linkgl {
    text-decoration: none;
    color: #EB5CE1;
}

.linkgl:hover {
    text-decoration: underline;
    color: #7836BA;
}

.m-bot {
    margin-bottom: 10px!important;
}

/* Forum */

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/* Styling h1 and links
––––––––––––––––––––––––––––––––– */

.starrating>input {
    display: none;
}
/* Remove radio buttons */

.starrating>label:before {
    content: "\2605";
    /* Star */
    margin: 2px;
    font-size: 2em;
    font-family: FontAwesome;
    display: inline-block;
}

.starrating>label {
    color: #222222;
    /* Start color when not clicked */
}

.starrating>input:checked~label {
    color: #ffca08;
}

/* Set yellow color when star checked */

.starrating>input:hover~label {
    color: #ffca08;
}

/* Set yellow color when star hover */

/*Result */

.starrating1>input {
    display: none;
}

/* Remove radio buttons */

.starrating1>label:before {
    content: "\2605";
    /* Star */
    margin: 2px;
    font-size: 2em;
    font-family: FontAwesome;
    display: inline-block;
}

.starrating1>label {
    color: #222222;
    /* Start color when not clicked */
}

.starrating1>input:checked~label {
    color: #ffca08;
}

/* Set yellow color when star checked */

.starrating1>input:hover~label {
    color: #ffca08;
}
.margin-bug {
    margin-left: 30px;
}