.fonte-titulo {
    font-family: 'Satisfy', sans-serif;
}
.fonte-titulo-2 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.a-style {
    font-family: 'Dancing Script', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.m-top {
    margin-top: 5rem;
}
.img-size {
    height: 225px; 
    width: 100%; 
    display: block;
    object-fit: cover;
}
.img-sizeesp {
    height: 225px; 
    width: 100%; 
    display: block;
    object-fit: cover;
    object-position: 0 100%;
}
footer {
    background: #fefefe;
}
.linkdis {
    text-decoration:none !important; 
    color: #EB5CE1;
}

.btn-card {
    color: #EB5CE1;
    border-color: #EB5CE1;
}
.btn-card:hover {
    color: #fefefe;
    background: #EB5CE1;
}
.linkdis:hover {
    text-decoration:none !important; 
    color: #fefefe;
    background: #EB5CE1;
}
